<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020. Robert Wittek (robo-w on GitHub)
  ~
  ~ This software may be modified and distributed under the terms of the MIT license.  See the LICENSE file for details.
  -->

<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="wien.dragon.ga" level="debug" />

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
